<div class="row">
   <div class="small-12 columns">
        <div class="medium-6 columns">
           <form ng-submit="submitTiyer(person)">
               <div class="row">
                   <fieldset class="small-12 columns">
                       <legend for="name">Full Name</legend>
                       <div class="small-6 columns">
                           <input type="text" placeholder="First" ng-model="person.first_name" />
                       </div>
                       <div class="small-6 columns">
                           <input type="text" placeholder="Last" ng-model="person.last_name" />
                       </div>
                   </fieldset>
                   <fieldset class="small-12 columns">
                       <legend>Github</legend>                     
                               <input type="text" placeholder="Github Username" ng-model="person.github">
                               <input type="text" placeholder="Github Url" ng-model="person.github_url">
                               
                       </fieldset>
       
       
       
       
       
                       <button class="button right" type="submit">Submit</button>
           </form>
       </div>
   </div>
</div>
