<form ng-submit="submitTiyer(person)">
	<div class="comtainer-fluid">
    	<div class="row">
    		<div class="col-sm-10 col-sm-centered">
    			<div class="form-group">
    				<label for="name">Name</label>
    				<input type="text" class="form-control" placeholder="First Name" ng-model="person.first_name">
    				<input type="text" class="form-control" placeholder="Last Name" ng-model="person.last_name">
    			</div>
    		</div>
    		<input type="text" placeholder="Github Username" ng-model="person.github">
    		<input type="text" placeholder="Type" ng-model="person.tiy_type">
    		<button class="btn btn-default" type="submit">Send</button>
    	</div>
	</div>
</form>
