<h2>Welcome</h2>

<form ng-submit="submitTiyer(person)">
		<div>
	    	<div>
	    		<input type="text" placeholder="First Name" ng-model="person.first_name">
	    		<input type="text" placeholder="Last Name" ng-model="person.last_name">
	    		<input type="text" placeholder="Github Username" ng-model="person.github">
	    		<input type="text" placeholder="Type" ng-model="person.tiy_type">


	    		<button class="btn btn-default" type="submit">Send</button>

	    	</div>
		</div>
	</form>
