
<div class="row container">
	<!-- <aside class="leftSide">
		<div class="TIY">
				<img src="" alt="IRON YARD LOGO" />
				<p>Established:</p>
				<p>INFORMATION ABOUT TIY</p>
		</div>

		<div class="filters">
			<a href="#/create">create</a>
			<p>FILTER ONE</p>
			<p>FILTER ONE</p>
			<p>FILTER ONE</p>
		</div>
	</aside> -->

<div class="large-12 columns tiyersList">
	<div  ng-repeat="tiyer in tiyers">
		<div class="large-4 columns panel tiyerCard">
			<h2>{{tiyer.first_name}} {{tiyer.last_name}}</h2>
			<img src="http://lorempixel.com/g/125/125/people" alt="" />
			<p><a href="http://github.com/{{tiyer.github}}">GitHub</a></p>
			<p>{{tiyer.tiy_type}}</p>
		</div>
	</div
</div>
